
body {
  background-image: linear-gradient(
      to right bottom,
      rgb(236, 235, 182),
      rgba(167, 238, 220, 0.5)
    ),
}
div {
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

h1{
  font-family: "Courier New", Courier, monospace;
  font-size: 21px;
  letter-spacing: -2px;
  word-spacing: -1px;
  text-transform: uppercase;
  color: rgb(6, 83, 250);
}

h2{
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  letter-spacing: 50px;
  word-spacing: -1px;
  text-transform: uppercase;
  color: rgb(4, 121, 19);
}
